@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-timeline .vertical-timeline-element-content {
  background: #1D293D;
  border: 1px solid #1D293D;
  box-shadow: none;
  transition: all 0.4s ease;
}

.custom-timeline .vertical-timeline-element-content:hover {
  border-color: #FF6900;
}

.blob {
  animation: blobAnimate 15s ease-in-out infinite;
}

@keyframes blobAnimate {
  0% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  }

  25% {
    border-radius: 58% 42% 30% 70% / 55% 60% 40% 45%;
  }

  50% {
    border-radius: 35% 65% 55% 45% / 60% 35% 65% 40%;
  }

  75% {
    border-radius: 65% 35% 45% 55% / 40% 65% 35% 60%;
  }

  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  }
}